/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */



#stage {
  /* Fixed Sizes   */
  height: 400px;
  width: 600px;

  position: relative;

}

/* FIRST */
h1 {
  position: absolute;
  
  left: -110px;
  top: 0;
  
 
}

/* LAST */
#stage:hover h1 {
    left: 0;
}

svg{
  align-items: center;
  height: 500px;
  width: 600px;
}



  /* clouds */
  .clouds {
    position: absolute;
    bottom:100px;
    left:425px;
  
}
.clouds:hover {
  animation:slideOutLeft 8s;
}



